* {
    margin: 0;
}

.content-menu {
    display: flex;
}

.content-menu span {
    margin-right: 10px;
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.content-menu p {
    padding-left: 5px;
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.order-detail-box-option {
    display: flex;
    align-items: center;
}

.order-detail-box-option h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

.order-detail-box-option-button {
    position: absolute;
    right: 0;
}

.order-detail-box-option-button .button-delete, .order-detail-box-option-button .button-cancle {
    border-radius: 8px;
    border: 1px solid var(--d-9-d-9-d-9, #15A5E3);
    background: #FFF;
    padding: 10px 16px;
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

.button-cancle {
  margin-right: 15px;  
}

.order-detail-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr)) ;
    gap: 30px;
}

.order-detail-box-status {
    width: 500px;
    height: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    margin-right: 30px;
}

.order-detail-box-status span {
    position: relative;
    top: -10px;
    margin-left: 10px;
    background-color: white;
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 5px;
}

.order-detail-box-status p {
    position: relative;
    margin-left: 15px;
}

.order-detail-long-box {
    position: relative;
    margin-top: 30px;
    gap: 30px;
}

.order-detail-long-box-status {
    width: 1040px;
    height: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.order-detail-long-box-status span {
    position: relative;
    top: -10px;
    margin-left: 10px;
    background-color: white;
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 5px;
}

.order-detail-long-box-status p {
    position: relative;
    margin-left: 15px;
}

.order-detail-list h1 {
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
}

.order-list-brand {
    margin-top: 30px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
  }

.order-list-brand-img {
  width: 137px;
  height: 28px;
  object-fit: cover;
  padding: 10px 35px;
}

.order-list-brand-title {
  display: flex;
  list-style: none;
  align-items: center;
}

.order-list-brand-title-name {
  margin-right: 370px;
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.order-list-brand-title-num {
  position: absolute;
  right: 300px;
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.order-list-brand-title-price {
  position: absolute;
  right: 50px;
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.order-list-brand-item-des {
  margin-right: 150px;
  width: 250px;
}

.order-list-brand-item-title {
  color: var(--text, #505050);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.order-list-brand-item-inf {
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.order-list-brand-item {
  display: flex;
  align-items: center;
  padding: 10px 35px;
  border-top: solid 1px #D8D8D8;
}

.order-list-brand-item-num {
  position: absolute;
  right: 320px;
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.showcase-detail-item-num-intro {
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 8px;
  margin-left: 10px;
  background-color: white;
}

.showcase-detali-item-num-box {
  width: 100px;
  height: 30px;
  border: solid 1px #D8D8D8;
  border-radius: 10px;
}

.showcase-detail-item-num-box-inf {
  margin-left: 10px;
  margin-top: 15px;
}

.order-list-brand-item-price {
  position: absolute;
  right: 50px;
  color: var(--d-9-d-9-d-9, #0071AF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.order-detail-item-total {
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  margin-top: 40px;
  padding: 5px 20px;
  margin-bottom: 30px;
}

.order-detail-item-total-num {
  display: flex;
  align-items: center;
}

.title-num {
  color: var(--505050, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.total-num {
  position: relative;
  margin-left: auto;
  color: var(--text, #505050);
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.order-detail-item-total-detail {
  display: flex;
  align-items: center;
}

.title-detail {
  color: var(--505050, #505050);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 30px;
}

.total-detail {
  position: relative;
  margin-left: auto;
  color: var(--d-9-d-9-d-9, #0071AF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.confirm-popup, .confirm-delete-popup, .confirm-order-popup {
  position: absolute;
  left:-170%;
  margin-top: 20px;
  padding: 30px 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: #505050;
  z-index: 3;
  visibility: hidden;
}

.confirm-popup span, .confirm-delete-popup span, .confirm-order-popup span {
  color: var(--d-9-d-9-d-9, #0071AF);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-bottom: 5px;
}

.confirm-popup p, .confirm-delete-popup p, .confirm-order-popup p {
  color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 20px;
}

.confirm-popup-button {
  display: flex;
  gap: 10px;
}

.confirm-popup-button .confirm-popup-cancel {
  border-radius: 8px;
  border: 1px solid var(--1-border, #E4E4E4);
  background: var(--1-white, #FFF);
  color: var(--1-text, #606060);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.confirm-popup-button .confirm-popup-delete {
  border-radius: 8px;
  height: 30px;
  background: var(--d-9-d-9-d-9, #15A5E3);
  color: white;
  border: none;
}

.button-confirm {
  border-radius: 8px;
  border: 1px solid var(--d-9-d-9-d-9, #BA0122);
  background: #FFF;
  padding: 10px 16px;
  color: var(--d-9-d-9-d-9, #BA0122);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}


.open-popup {
  visibility: visible;
}

.open-delete-popup {
  visibility: visible;
}

.open-confirm-popup {
  visibility: visible;
}